// Osmary 
// Variables
// Fuentes
$mainTitle: "Indie Flower", cursive;
$secondTitle: "IBM Plex Mono", monospace;
$colormainFont: rgb(252, 144, 107);
body {
    margin: 0%;
}

header {
    font-family: $mainTitle;
    color: $colormainFont;
    font-size: 20px;
    text-align: center;
}

.nav {
    width: 100%;
    .menu {
        list-style: none;
        border-radius: 10px;
        font-family: $secondTitle;
        display: flex;
        justify-content: center;
        text-align: center;
            i{
                display: none;
            }
    }
}

.menu {
    width: 100%;
    padding: 0%;
    margin: 0%;
    li{
        padding: 1em;
        width: 8%;
        &:hover > ul{
            display: block;
            position: absolute;
            z-index: 1;
        }
        a{
            text-decoration: none;
            color: grey;
            &:hover{
                color: rgb(252, 144, 107);
                cursor: pointer;
            }
            &:active{
                color: rgb(252, 144, 107);
            }
        }
        ul{
            width: 200px;
            padding: 5px;
            background-color: #fff;
            display: none;
            &:hover{
                display: block;
            }
            li{
                list-style: none;
            }
        }
    }     
}
// Fin Osmary

// FIORELLA HOME DESKTOP
// CARRUSEL IMG
.carrusel{
    display: flex;
    align-items: flex-end;
    
    .box{
        width: 25%;
        display: flex;
        margin-top: 0%;
        margin-bottom: 0%;
        margin: 5px;
        position: relative;
        align-items: flex-end;
        &:first-of-type{
            margin-left: 0%;
        }
        &:last-of-type{
            margin-right: 0%;
        }
        img{
            width: 100%;
        }
        figcaption{
            text-align: center;
            width: 100%;
            height: 0px;
            position: absolute;
            color: transparent;
            transition: 0.5s ease;
            p{
                font-size: 10px;
            }
        }
        &:hover >figcaption {
            height: 100px;
            background-color: #fc784f;
            opacity: 0.6;
            font-family: $secondTitle;
            font-size: 16px;
            color: #fff;


        }
    }
}


// ORIANA Mobile receta
@mixin icons{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    display: none;
}
.firstcontainer{
    margin:0px 10px 0px 10px;
}   .pionono{
    width: 100%;
    margin-top: 20px;
    img{
     width: 100%;
     border-radius: 45px;
    }   
}

.secreceta{
    font-family: 'IBM Plex Mono', monospace;
    margin:0px 10px 0px 10px;
}
.banner{
    width: 100%;
    img{
        width: 100%

    }
}


.breadcrumb{
    font-family: 'IBM Plex Mono', monospace;
    li{
        display: inline;
        &::after{
            content: ">";
        }
    }

}
 

.single{
    color: grey;
    margin-left: 20px;
    font-family: 'IBM Plex Mono', monospace;
}

.redes-colors{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 25px;
}

.fb{
    @include icons;
    background-color: #3b5998;  
}

.tw{
    background-color: #55acee;
    @include icons;
}

.gg{
    background-color: #dd4b39;
    @include icons;
}

.ig{
    background-color: #8f6247;
    @include icons;
}

.pt{
    background-color: #cb2027;
    @include icons;
}

.pie-de-imagen{
    display: flex;
    justify-content: space-between;
    color: grey;
    text-align: center;
}

.descripcion{
    color: grey;
}

.quotecontainer{
    border-left: 2px solid #fc784f;
    .name{
        color: grey;
        margin-left: 20px;
    }
    .quote{
        margin-left: 20px;
    }
}

.ingredients{
    height: 200px;
    li{
        line-height: 30px;
        color:#fc784f;
        span{
            color: grey;
        }
    }
}

.bottomicons{
    color: grey;
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    .socmedia{
        display: none;
    }
}

.arrowup{
    text-align: center;
    border-top: 2px solid rgba(207, 203, 203, 0.781);
}

.fa-arrow-up{
    position: relative;
    bottom: 15px;
    color: white;
    font-size: 30px;
    background-color: #fc784f;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
}

// ORI Desktop receta
@media(min-width: 800px){
    .nav{
        display: block;
    }

    .secreceta{
        width: 500px;
        margin: auto;
    }

    .firstcontainer{
        display: flex;
        width: 600px;
        height: auto;
        margin: auto;
    }
    
    .redes-colors{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 20px;
        margin-top: 50px;
        
    }

    .fb{
        width: 25px;
        height: 25px;
        font-size: 20px;
    }

    .tw{
        width: 25px;
        height: 25px;
        font-size: 20px;
    }

    .gg{
        width: 25px;
        height: 25px;
        font-size: 20px;    
    }

    .ig{
        width: 25px;
        height: 25px;
        font-size: 20px;
    }

    .pt{
        width: 25px;
        height: 25px;
        font-size:20px;
    }

    .bottomicons{
        margin-bottom: 30px;
        .socmedia{
            display: inline-block;
            font-size: 12px;
            font-family: "IBM Plex Mono", monospace;
        }
    }

    footer{
        margin: 25px 60px 20px 60px;
        .fa-arrow-up{
            display:none;
        }
    }
<<<<<<< HEAD
}

=======
}
>>>>>>> cb2116aabb62a9abbf419d1c1b2361d8da73092e
