body {
  margin: 0%;
}

header {
  font-family: "Indie Flower", cursive;
  color: #fc906b;
  font-size: 20px;
  text-align: center;
}

.nav {
  width: 100%;
}
.nav .menu {
  list-style: none;
  border-radius: 10px;
  font-family: "IBM Plex Mono", monospace;
  display: flex;
  justify-content: center;
  text-align: center;
}
.nav .menu i {
  display: none;
}

.menu {
  width: 100%;
  padding: 0%;
  margin: 0%;
}
.menu li {
  padding: 1em;
  width: 8%;
}
.menu li:hover > ul {
  display: block;
  position: absolute;
  z-index: 1;
}
.menu li a {
  text-decoration: none;
  color: grey;
}
.menu li a:hover {
  color: #fc906b;
  cursor: pointer;
}
.menu li a:active {
  color: #fc906b;
}
.menu li ul {
  width: 200px;
  padding: 5px;
  background-color: #fff;
  display: none;
}
.menu li ul:hover {
  display: block;
}
.menu li ul li {
  list-style: none;
}

.carrusel {
  display: flex;
  align-items: flex-end;
}
.carrusel .box {
  width: 25%;
  display: flex;
  margin-top: 0%;
  margin-bottom: 0%;
  margin: 5px;
  position: relative;
  align-items: flex-end;
}
.carrusel .box:first-of-type {
  margin-left: 0%;
}
.carrusel .box:last-of-type {
  margin-right: 0%;
}
.carrusel .box img {
  width: 100%;
}
.carrusel .box figcaption {
  text-align: center;
  width: 100%;
  height: 0px;
  position: absolute;
  color: transparent;
  transition: 0.5s ease;
}
.carrusel .box figcaption p {
  font-size: 10px;
}
.carrusel .box:hover > figcaption {
  height: 100px;
  background-color: #fc784f;
  opacity: 0.6;
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: #fff;
}
<<<<<<< HEAD

.middle {
  margin: auto;
  margin-top: 15px;
  width: 90%;
  display: flex;
  justify-content: space-around;
}
.middle .middle-box {
  width: 30%;
  position: relative;
}
.middle .middle-box:hover > span {
  background-color: #dd4b39;
}
.middle .middle-box img {
  width: 100%;
  border-radius: 20px;
}
.middle .middle-box span {
  font-family: "IBM Plex Mono", monospace;
  padding: 10px;
  text-align: center;
  width: 200px;
  position: absolute;
  top: 40%;
  left: 20%;
  border-radius: 20px;
  background-color: white;
}

.multimedia {
  font-family: "IBM Plex Mono", monospace;
  width: 80%;
  height: 500px;
  display: flex;
  margin: auto;
  margin-bottom: 10px;
}

.video {
  font-family: "IBM Plex Mono", monospace;
  width: 90%;
  margin-right: 20px;
}
.video h6 {
  color: gray;
  margin-top: 5px;
}

.video iframe {
  font-family: "IBM Plex Mono", monospace;
  width: 100%;
  height: 100%;
}

.perfil {
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.titulo {
  background: pink;
  width: 100%;
  display: flex;
  height: 35px;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
}
.titulo h5 {
  text-align: center;
  margin: auto;
}

.centro {
  width: 270px;
  height: 250px;
  font-family: "IBM Plex Mono", monospace;
}
.centro img {
  width: 100%;
  margin-top: 20px;
  border-radius: 50%;
}

.footer {
  width: 300px;
  font-family: "IBM Plex Mono", monospace;
}
.footer p {
  color: gray;
}
.footer h5 {
  background: pink;
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
}

.receta {
  font-family: "IBM Plex Mono", monospace;
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 50px;
}

.imagenes {
  width: 70%;
  display: flex;
  flex-direction: row;
  border-top: 1px grey solid;
}
.imagenes img {
  width: 40%;
  height: 30%;
  margin-top: 10px;
  border-top-left-radius: 18%;
  border-top-right-radius: 18%;
  border-bottom-left-radius: 18%;
  border-bottom-right-radius: 18%;
  margin-bottom: 10px;
}

.cuerpo1 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.cuerpo1 i {
  border-top: 20px;
}
.cuerpo1 h4 {
  color: gray;
  display: flex;
  justify-content: space-between;
}
.cuerpo1 .leer1 button {
  width: 100px;
  font-family: "IBM Plex Mono", monospace;
  padding: 10px;
  background: pink;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.cuerpo2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.cuerpo2 h4 {
  color: gray;
  display: flex;
  justify-content: space-between;
}

.leer2 button {
  width: 100px;
  font-family: "IBM Plex Mono", monospace;
  padding: 10px;
  background: pink;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.iconos {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: gray;
}
.iconos i {
  margin-bottom: 20px;
}
=======
>>>>>>> 373244e64a75799e7131a8d3f9711629a3313aa8

.nav {
  display: none;
}

.firstcontainer {
  margin: 0px 10px 0px 10px;
}

.pionono {
  width: 100%;
  margin-top: 20px;
}
.pionono img {
  width: 100%;
  border-radius: 45px;
}

.secreceta {
  font-family: "IBM Plex Mono", monospace;
  margin: 0px 10px 0px 10px;
}

.banner {
  width: 100%;
}
.banner img {
  width: 100%;
}

.breadcrumb {
  font-family: "IBM Plex Mono", monospace;
}
.breadcrumb li {
  display: inline;
}
.breadcrumb li::after {
  content: ">";
}

.single {
  color: grey;
  margin-left: 20px;
  font-family: "IBM Plex Mono", monospace;
}

.redes-colors {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 25px;
}

.fb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b5998;
}

.tw {
  background-color: #55acee;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gg {
  background-color: #dd4b39;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ig {
  background-color: #8f6247;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pt {
  background-color: #cb2027;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pie-de-imagen {
  display: flex;
  justify-content: space-between;
  color: grey;
  text-align: center;
}

.descripcion {
  color: grey;
}

.quotecontainer {
  border-left: 2px solid #fc784f;
}
.quotecontainer .name {
  color: grey;
  margin-left: 20px;
}
.quotecontainer .quote {
  margin-left: 20px;
}

.ingredients {
  height: 200px;
}
.ingredients li {
  line-height: 30px;
  color: #fc784f;
}
.ingredients li span {
  color: grey;
}

.bottomicons {
  color: grey;
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}
.bottomicons .socmedia {
  display: none;
}

.arrowup {
  text-align: center;
  border-top: 2px solid rgba(207, 203, 203, 0.781);
}

.fa-arrow-up {
  position: relative;
  bottom: 15px;
  color: white;
  font-size: 30px;
  background-color: #fc784f;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
}

@media (min-width: 800px) {
  .nav {
    display: block;
  }

  .artreceta {
    width: 500px;
    margin: auto;
  }

  .breadcrumbcont {
    margin-left: 10px;
    display: flex;
  }

  .firstcontainer {
    display: flex;
    width: 600px;
    height: auto;
    margin: auto;
  }

  .redes-colors {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
    margin-top: 50px;
  }
}
.fb {
  width: 25px;
  height: 25px;
  font-size: 20px;
}

.tw {
  width: 25px;
  height: 25px;
  font-size: 20px;
}

.gg {
  width: 25px;
  height: 25px;
  font-size: 20px;
}

.ig {
  width: 25px;
  height: 25px;
  font-size: 20px;
}

.pt {
  width: 25px;
  height: 25px;
  font-size: 20px;
}

.bottomicons {
  margin-bottom: 30px;
}
.bottomicons .socmedia {
  display: inline-block;
  font-size: 12px;
  font-family: "IBM Plex Mono", monospace;
}

<<<<<<< HEAD
footer {
  margin: 25px 60px 20px 60px;
}
footer .fa-arrow-up {
  display: none;
=======
  footer {
    margin: 25px 60px 20px 60px;
  }
  footer .fa-arrow-up {
    display: none;
  }
>>>>>>> 373244e64a75799e7131a8d3f9711629a3313aa8
}

/*# sourceMappingURL=style.css.map */
